﻿#login-form {
    max-width : 300px;
    min-width: 200px;
    padding: 15px;
    background-color : #eee;
    border-radius: .5em;
    margin-top: 20px;
    margin-left: 400px;
}

.games-title {
    font-size: 400%;
    text-shadow : 3px 3px 3px black;
    font-family : 'Montserrat', sans-serif;
    font-weight : bold;
    color : black;
    letter-spacing : 3px;
    width : 400px;
    margin-top: 100px;
    margin-left: 380px;
}

.background {
  background-image: url(../pictures/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; /* rescales the image to cover the window */
  background-color: #464646; /* shown during image load */
}

body {
    padding : 2em;
}

.hidden {
    display : none;
}

tr {
    cursor : pointer;
}

label {
  margin-right: 1em;
}

span.btn {
  margin-right: 1em;
}


div.well {
margin-top: 1em;
}

span {
    word-break: break-all;
    font-weight: bold;
}

span.out {
    padding: .5em;
    font-family: Courier New;
    font-weight: bold;
}

table {
   width: 100%;
   background-color: #DDDDDD;
   border: none;
}

th, td {
    padding: .5em 1em;
    font-weight: bold;
}

th {
    color : black;
    text-align: left;
}

#wordColor {
    width: 70px;
}

#guessColor {
    width: 70px;
}

#foreColor {
    width: 70px;
}
#guess {
    margin-left:20px;
    width: 60px;
}

#rightLetter {
   padding-top: 80px;
    font-size: 35px;
}

#showGuessedLetters {
    padding-top: 30px;
    font-size: 20px;
}
.guessedWord {
    width: 20px;
    height: 30px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

.word {
    padding-top: 10px;
     width: 40px;
     height: 60px;
     margin: 10px;
     display: inline-block;
     text-align: center;
}

#answer {
    padding-top: 80px;
    font-size: 35px;
}

#guesses {
    padding-top: 30px;
    font-size: 20px;
}

td span {
    height: 25px;
    width: 20px;
    margin: 5px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
}